@font-face {
    font-family: "pokemon";
    src: url(./Fonts/pokemon.ttf)
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "pokemon", serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.3s;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: rgba(216, 216, 34, 0.74);
}

.logo {
    width: 180px;
    transition: 1s;
}

a:hover .logo {
    transform: scale(1.2);
}

.pokeball {
    width: 20px;
}

/* EN-TETE */

header {
    background: rgba(0, 0, 0, 0.795);
    padding: 2px;
    color: whitesmoke;
}

navbar ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* CONTENU */

main {
    margin-top: -80px;
}

section {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
}

.pokemon {
    width: 65px;
}

#video p {
    font-size: 0.8rem;
}

.sousVideo {
    text-align: center;
    margin: 0 30%;
    font-size: 0.65rem;
}

/* PIEDS DE PAGE */

footer {
    background: dimgray;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 0.75rem;
}

.logoBas {
    width: 350px;
    margin: 0 50px;
}